# MongoDB Connection
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/weather-forecasting?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=dấddwwwwwwwwwwwwwwwwwwwwwwwww

# OpenWeather API
OPENWEATHER_API_KEY=ebdafe6cab3e4f659fc95324260206

# API Configuration
PORT=3001
NODE_ENV=production

# Frontend Configuration
NEXT_PUBLIC_BACKEND_URL=https://weather-api.onrender.com
